th {width: 50px; border-bottom:1px solid gray;border-left:1px solid gray; overflow-wrap : break-word;text-align: center;}
td {width: 50px; border-bottom:1px solid gray;border-left:1px solid gray;overflow-wrap : break-word;text-align: center;}

table {table-layout:fixed;width: 100%; }

.cxt {
position: absolute;
z-index: 99;
padding: 5px;
border-width: 1px;
border-style: solid;
}

.cxt li {
padding: 5px 15px 5px 15px;
list-style: none;
border-bottom-color: #ccc;
border-bottom-width: 1px;
border-bottom-style: dotted;
color: #000;
cursor: pointer;
}

.cxt a {
color: #000;
text-decoration: none;
}

.cxt li.sep {
border-bottom-width: 2px;
border-bottom-style: solid;
}

.create {
color:gray;
padding: 10px;
position: relative;
border: solid 1px #000;
height: 180px;
width: 200px;
background-color: rgba(0, 123, 255, 0.2);
}
.delete {
position: relative;
padding: 10px;
border: solid 1px #000;
height: 80px;
width: 150px;
background-color: rgba(0, 123, 255, 0.2);
}
.car-delete {
padding: 10px;
float: left;
}

.cars-create {
padding: 10px;
float: left;
}
.submit {
    margin:5px;
}
.selected{
    background-color: aquamarine;
}

.post-form {
    height: 80px;
    width: 250px;
    background-color: rgba(92, 133, 245, 0.5);
    border: solid 1px blue;
}
.form-position {
    position: relative;
    padding: 10px;
}
.selected-day {
    padding: 8px;
}
.current-month {
    width: 100%;
    text-align: center;
}


h2 {
    text-align: center;
    font-size: 20px;
    display: inline-table;
    margin: 0 auto;
}

.td01:hover {
    background-color: rgba(0,123,255,0.6);
}